/* Terms Conditions Template - Start
================================================== */
.terms_conditions_content {
	padding: 40px;
	background-color: $color_light;
	border-radius: $radius_primary;
	@media #{$xxs} {
		padding: 30px;
	}
	.warpper_title {
		font-size: 38px;
		line-height: 1.3;
		margin-bottom: 30px;
		@media #{$xs,$sm,$lg} {
			font-size: 34px;
		}
		@media #{$xxs} {
			font-size: 26px;
		}
	}
	p {
		font-size: 17px;
		line-height: 27px;
		margin-bottom: 30px;
	}
	.info_title {
		font-size: 24px;
		margin-bottom: 20px;
		@media #{$xxs} {
			font-size: 20px;
		}
	}
	.icon_list {
		margin-bottom: 40px;
	}
	.icon_list.unordered_list_block > li:not(:last-child) {
		margin-bottom: 14px;
	}
	.icon_list .list_item_text {
		color: $color_body;
	}
	.icon_list .list_item_icon {
		flex: none;
		width: auto;
		height: auto;
		font-size: 5px;
		border-radius: 0;
		margin-inline-end: 10px;
		color: $color_body;
		background-color: transparent;
	}
	.link {
		font-size: 17px;
		font-weight: 600;
		line-height: 27px;
		color: $color_primary;
		text-decoration: underline;
	}

	.author_mail {
		font-size: 21px;
		font-weight: 700;
		line-height: 29px;
		color: $color_primary;
	}
}
/* Terms Conditions Template - End
================================================== */