<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Template</title>
    <style>
      /* Your CSS styles here */
    </style>
  </head>
  <body>
    <h1>Номер на поръчката {{orderNumber}}</h1>
    <hr />
    <p>Име: {{name}}</p>
    <p>Имейл: {{email}}</p>
    <p>Повод: {{occasion}}</p>
    <p>Професия: {{profession}}</p>
    <p>
      Да има ли домашен любимец: {{#if hasPet}}
      <span>Да</span>
      {{else}}
      <span>Не</span>
      {{/if}}
    </p>
    <p>Хоби: {{hobby}}</p>
    <p>
      Надпис: {{#if label}}
      <span>{{label}}</span>
      {{else}}
      <span>няма надпис</span>
      {{/if}}
    </p>
    <p>Описание на желанието на клиента: {{description}}</p>
    <p>Размер: {{size}}</p>
    <p>Канава: {{canvas}}</p>
    <p>Желана дата за доставка: {{date}}</p>
    <p>Доставка: {{delivery}}</p>
    <p style="color: red">Начин на плащане: {{payment}}</p>
    {{#if shipping}}
    <hr />
    <p>Адрес за доставка:</p>
    <p>Държава: {{shipping.country}}</p>
    <p>Град: {{shipping.city}}</p>
    <p>Адрес: {{shipping.address}}</p>
    <p>Пощенски код: {{shipping.zip}}</p>
    <p>Телефон: {{shipping.phone}}</p>
    <hr />
    {{/if}}
    <p>Обявена цена: {{price}}</p>
    <p>Код за отстъпка: {{promoCode}}</p>
    <hr />
    <h3>Снимки</h3>
    {{#each images}}
    <img src="{{this}}" alt="Image" />
    {{/each}}
  </body>
</html>
