<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Template</title>
    <style>
      /* Your CSS styles here */
    </style>
  </head>
  <body>
    <h1>Order Number {{orderNumber}}</h1>
    <hr />
    <p>Name: {{name}}</p>
    <p>Email: {{email}}</p>
    <p>Occasion: {{occasion}}</p>
    <p>Profession: {{profession}}</p>
    <p>
      Pet included: {{#if hasPet}}
      <span>Yes</span>
      {{else}}
      <span>No</span>
      {{/if}}
    </p>
    <p>Hobby: {{hobby}}</p>
    <p>Label: {{#if label}}
      <span>{{label}}</span>
      {{else}}
      <span>No Label</span>
      {{/if}}</p>
    <p>Description: {{description}}</p>
    <p>Size: {{size}}</p>
    <p>Delivery: {{delivery}}</p>
    {{#if shipping}}
    <hr/>
    <p>Delivery address</p>
    <p>Country: {{shipping.country}}</p>
    <p>address: {{shipping.address}}</p>
    <p>zip: {{shipping.zip}}</p>
    <p>phone: {{shipping.phone}}</p>
    <hr/>
    <p>Estimated price: {{price}}</p>
    <hr />
    <h3>Images</h3>
    {{#each images}}
    <img src={{this}} alt="Image">
    </img>
    {{/each}}
  </body>
</html>
